*{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
background: #1B1924;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3.188em;
}

#fred{
    width: 90px;
    height: 90px;
}

h1{
    font-size: 1.563rem;
    margin: 1.063em 0em;
}

.font1{
    font-family: 'Josefin Sans', sans-serif;
}

.white{
    color: #fff;
}

textarea{
    border-radius: 8px;
background: #444059;
padding: 1em;
}

h2{
    margin: 1.063em 0em;
    font-size: 20px;
}